/******************************* General Styling *******************************/
*{
    margin: 0;
}

body{
    color: rgb(80, 78, 78);
}

/*******************************Hero section styling **************************/

.hero{
    background-image: url("./images/hero-bg.svg");
    background-color: rgb(0, 14, 14);
    text-align: center;
    padding-bottom: 15%;
}

.p-red{
    color: rgb(223, 43, 43);

}

.main-p{
    width: 50%;
    margin: auto;
}

.main-logo {
    margin: 5%;
}

h1{
    margin: 0 5% 5%;
}


/*Button Styling*/
.main-container .btn{
    padding: 1.5%;
    margin: 2%;
}

.main-buttons .new a{
    text-decoration: none;
    color: rgb(255, 248, 248);
}

.main-buttons .new a:hover{
    text-decoration: none;
    color: rgb(223, 43, 43);
}


.main-buttons .need a{
    text-decoration: none;
    color: rgb(223, 43, 43);
}

.main-buttons .need a:hover{
    text-decoration: none;
    color: rgb(255, 248, 248);
}

.new{
    background-color: rgb(223, 43, 43);
    border-radius: 0%;
    border-color: transparent;
}

.new:hover {
    background-color: rgb(255, 248, 248);
    
    border-color: rgb(223, 43, 43);
}

.need{
    background-color: rgb(255, 248, 248);
   
    border-radius: 0%;
    border-color: rgb(223, 43, 43);
}

.need:hover {
    background-color: rgb(223, 43, 43);
 
}


.main-buttons{
    margin: 5%;
}



/********************** Services section styling *****************************/

.zuri-team{
    text-align: center;
    padding-top: 10%;
}

.cater{
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 1.5rem;
}

/*Card Styling*/


.card{
    background-color: rgb(247, 241, 245);
    padding: 10%;
    border-color: transparent;
    border-radius: 0%;
}

.card-text{
    padding: 5%;
    
}

.card-img{
    width: 40%;
    height: 40%;
}

.right-img{
    width: 50%;
    
}

.right-card{
    background-image: url("./images/right_yz6hn3.png");
  
}


.cards{
    padding: 5%;
}

.left-card{
    background-image: url("./images/left_bvmv7q.png");
}

.main-card{
    padding-top: 10%;
}




/********************** Footer section styling *****************************/
footer{
    padding-top: 10%;
}

.icon{
    height: 20%;
   
}

.copyright{
    text-align: center;
    padding: 10%;
}





/*--------------------------------------------------New.html page styling -----------------------------------------*/

/******************************* General Styling *******************************/
body{
    color: rgb(80, 78, 78);
    font-size: 1.5rem; 
}

h1{
    color: #000;
    margin-left: 0;
}

/********************** Header section styling *****************************/


.navbar{
    padding: 0 5%;
    background-color: #ffffff;
}

.nav-link{
    color: #000;
   
}

.nav-btn{
    width: 200%;
    padding: 10%;
    background-color: rgb(223, 43, 43);
    color: rgb(247, 241, 245);
    border-radius: 0 0 15px 0;
}

.nav-button:hover{
    width: 200%;
    padding: 10%;
    background-color: rgb(223, 43, 43);
    color: rgb(255, 248, 248);
    border-radius: 0 0 15px 0 ;
}


/********************** New-hero section styling *****************************/
.new-hero{
    margin-top: 15%;
    padding: 0 7%;
}

.new-hero-img{
    width: 80%;
    height: 90%;
    margin-left: 15%;
}

.main-heading{
    padding-top: 10%;

}

.hire-btn{
    width: 40%;
    margin: 2% 2% 2% 0;
    padding: 2%;
    background-color: rgb(223, 43, 43);
    color: rgb(247, 241, 245);
    font-weight: bold;
    font-size: large;
    border-radius: 0 0 15px 0 ;
}


.hire-btn:hover{
    width: 40%;
    padding: 2%;
    background-color: rgb(223, 43, 43);
    color: rgb(247, 241, 245);
    font-weight: bold;
    font-size: large;
    border-radius: 0 0 15px 0 ;
}



.talent-btn{
    width: 40%;
    padding: 2%;
    background-color: #797272;
    color: rgb(247, 241, 245);
    font-weight: bold;
    font-size: large;
    border-radius: 0 0 15px 0;
}

.talent-btn:hover{
    width: 40%;
    padding: 2%;
    background-color: #797272;
    color: rgb(247, 241, 245);
    font-weight: bold;
    font-size: large;
    border-radius: 0 0 15px 0;
}

/********************** Countries section styling *****************************/
.countries{
    background-image: url("./images/bgsection2.063bd869082548bafa74.png");
    background-color: #797272;
    height: 600px;
    padding: 10%;
}

.emoji{
    width: 80%;
    height: 90%;
    display: flex;
    margin-left: 25%;
}

.country-icon{
    background-color: #ffffff;
    padding: 20%;
    border-radius: 5%;
    height: 100%;
}



/********************** Talents section styling *****************************/

.talents{
    margin: 10% 0;
}

.talents h1{
    margin-bottom: 2%;
}

/*Button styling*/
.skill-btn{
    background-color: #ffffff;
    box-shadow: 10px 10px 5px 12px #EEE;
    padding: 10%;
    margin-bottom: 15%;
}

.skill-btn:hover{
    background-color: #ffffff;
    box-shadow: 10px 10px 5px 12px #EEE;
    padding: 10%;
    margin-bottom: 15%;
    position: relative;
    bottom: 20px;
    border-color: transparent;
    color: #000;
}

/********************** Hire section styling *****************************/

.hire{
    padding: 10% 5%;
    background-color: rgb(255, 249, 202);
    text-align: center;
}

.hire-card{
    background-color: #ffffff;
    border-radius: 0 0 15px 0 ;
    text-align: center;
    padding: 3% 0%;
    margin: 0.2%;
}

.hire-card p{
    width:70% ;
    margin: auto;
}

.hire-card:hover{
    background-color: #000;
    color: #ffffff;
    border-radius: 0 0 15px 0 ;
    text-align: center;
    padding: 3% 2%;
    margin: 0.5%;
}

.hire-button{
    width: 20%;
    margin: 2% 2% 2% 0;
    padding: 2%;
    background-color: rgb(223, 43, 43);
    color: rgb(247, 241, 245);
    font-weight: bold;
    font-size: large;
    border-radius: 0 0 15px 0 ;
}

.hire-button:hover{
    width: 20%;
    margin: 2% 2% 2% 0;
    padding: 2%;
    background-color: rgb(223, 43, 43);
    color: rgb(247, 241, 245);
    font-weight: bold;
    font-size: large;
    border-radius: 0 0 15px 0 ;
}

.talent-button{
    width: 20%;
    padding: 2%;
    background-color: #797272;
    color: rgb(247, 241, 245);
    font-weight: bold;
    font-size: large;
    border-radius: 0 0 15px 0;
}

.talent-button:hover{
    width: 20%;
    padding: 2%;
    background-color: #797272;
    color: rgb(247, 241, 245);
    font-weight: bold;
    font-size: large;
    border-radius: 0 0 15px 0;
}

.hire-icon{
    margin-bottom: 2%;
}



/********************** Footer section styling *****************************/

.new-footer{
    background-color: #000;
    padding: 5% 3% 2%;
    color: #ffffff;
}

.talent-p{
    margin-top: 5%;
}

.footer-icon{
    width: 5%;
}





/*--------------------------------------------------Industry.html page styling -----------------------------------------*/
